<app-admin-navbar></app-admin-navbar>


<!-- Start Header -->
<header class="contactHeader">
  <div class="container">
      <div class="wow fadeIn">
          <h2 class="h1">Add Team</h2>
      </div>
      
  </div>
</header>
<!-- End Header -->

<div class="alert alert-success" *ngIf="success" role="alert">
  Service is Successfully added
</div>

<div class="alert alert-danger" *ngIf="failed" role="alert">
  Something wrong!
</div>


<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="row justify-content-center">
        <div class="inputs col-md-4">
  
            <div class="form-group">
              <input placeholder= "Team Name" type="text" class="form-control" [(ngModel)]="model.name" #firstName="ngModel" [ngClass]="{'is-invalid':f.submitted && firstName.invalid}" name="name" required />
              <div class="invalid-feedback">
                <div>Team Name is required</div>
              </div>
            </div>
              
              <div class="form-group">
                  <span>Profile Picture</span>
                  <br>
                  <input class="fileChooser" type="file" id="avatar" name="imageURL" accept="image/png, image/jpeg" (change)="uploadImage($event)">
                </div>
  
            <input class="btn btn-primary btn-block" type="submit" value="Insert" name="submit">
        </div>
    </div>
  </form>



